.container {
  text-align: left;
}

.btn-large{
  margin: 0 auto; 
  align-items: center;
    display: flex;
}

.btn-large i{
  margin-left: 5px;
}

.brand-logo{
  display: flex!important;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.brand-logo .far{
  display: flex;
  align-items: center;
  justify-content: center;
}